body { 
    margin: 0; 
    background-color: #313338; 
    overflow: hidden; 
    font-family: sans-serif; 
}
canvas { 
    display: block; 
}
#ui {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    color: white;
    font-size: 24px; 
    pointer-events: none; 
    background: rgba(0,0,0,0.5);
    padding: 10px 20px; 
    border-radius: 8px;
}